:root {
  --text-primary-black-color: #212121;
  --text-second-black-color: #757575;
  --text-third-white-color: #ffffff;

  --focus-color: #2196f3;
  --focus-second-color: #188ce8; /* focus кнопки на баннере */

  --text-logo-black-color: #000000;
  --text-contact-footer-white-color: rgba(255, 255, 255, 0.6); /* tel и mail в футере */

  --background-primary-color: #ffffff;
  --background-second-color: #2f303a;
  --background-third-color: #f5f4fa;

  --shadow-main-button: rgba(0, 0, 0, 0.15);
}

/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  outline: 1px dashed black;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  background: var(--background-primary-color);
  color: var(--text-primary-black-color);
  font-family: 'Roboto', sans-serif;
}

/* header */
.page-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

/* header logo */
.header-logo {
  text-decoration: none;
  color: var(--text-logo-black-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  display: inline-block;

  /* padding-top: 24px;
  padding-bottom: 25px; */
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 50px;
}

.logo-first-part {
  color: var(--focus-color);
}

/* header link navigation */
.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--text-primary-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--focus-color);
}

/* header contact */
.header-contact {
  display: flex;
  margin-left: auto;
}
.header-contact .item:not(:last-child) {
  margin-right: 50px;
}

.header-contact .link {
  display: block;
  /* padding-top: 32px;
  padding-bottom: 32px; */

  text-decoration: none;
  color: var(--text-second-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.header-contact .link:hover,
.header-contact .link:focus {
  color: var(--focus-color);
}

/* main */
/* main section banner */
.banner {
  background-color: var(--background-second-color); /* временно */

  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.banner-title {
  color: var(--text-third-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 700px;
  margin: 0 auto 30px auto;

  outline: 1px dashed black;
}

.banner-btn {
  display: inline-block;
  background-color: var(--focus-color);
  color: var(--text-third-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  min-width: 200px;
  padding: 10px 32px;

  border-style: inherit;
  box-shadow: 0px 4px 4px var(--shadow-main-button);
  border-radius: 4px;
  cursor: pointer;
}
.banner-btn:hover,
.banner-btn:focus {
  background-color: var(--focus-second-color);
}

/* main all section name h2*/
.section-title {
  /* font-weight: 700; по умолчанию*/
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  padding-bottom: 50px;
}

/* main section peculiarities */

.section.peculiarities {
  background-color: darkgoldenrod;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* скрываем заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.peculiarities-list .title {
  /* color: var(--text-primary-black-color); наследуется от Body*/
  /* font-weight: 700; по умолчанию*/
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.peculiarities-list .text {
  color: var(--text-second-black-color);
  /* font-weight: 400; по умолчанию*/
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section work */
.section.work {
  background-color: aqua;
  /* padding-top: 94px; */
  padding-bottom: 94px;
}

/* section team */
.team {
  background-color: var(--background-third-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  background-color: var(--background-primary-color);
}

.team-list .img {
  margin-bottom: 30px;
}
.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.team-list .text {
  color: var(--text-second-black-color);
  /* font-weight: 400; по умолчанию*/
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */
.page-footer {
  background-color: var(--background-second-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* footer logo*/
.footer-logo {
  display: inline-block;
  text-decoration: none;
  color: var(--background-primary-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 20px;
}

/* footer adress*/

.page-footer address {
  font-style: normal;
}

.footer-adress {
  color: var(--text-third-white-color);
  /* font-weight: 400; по умолчанию*/
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding-bottom: 9px;
}

.footer-contact .mail {
  display: inline-block;
  padding-bottom: 9px;
}

/* footer contact link*/
.footer-contact .link {
  text-decoration: none;
  color: var(--text-contact-footer-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* footer focus on tel and mail*/
.footer-contact .link:hover,
.footer-contact .link:focus {
  text-decoration: none;
  color: var(--focus-color);
}

/* portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: darksalmon;
}
.portfolio-filter .btn {
  background-color: var(--background-third-color);
  color: var(--text-primary-black-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  padding: 6px 22px;

  border-style: inherit;
  border-radius: 4px;

  /* временно ↓ */
  margin-bottom: 10px;
}

.portfolio-filter .btn:hover,
.portfolio-filter .btn:focus {
  background-color: var(--focus-color);
  color: var(--text-third-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-project .img {
  margin-bottom: 50px;
}

.portfolio-project .title {
  color: var(--text-primary-black-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio-project .text {
  color: var(--text-second-black-color);
  /* font-weight: 400; по умолчанию*/
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-project .link {
  text-decoration: none;
}
